<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/food.css">
    <title>Document</title>
</head>
<body >
    <div class="container-fluid">
        <div class="row header">
            <div  class=" col-2">
                <div class="m mt-2" style="display: flex;">
                    <img class="log" src="../../static/images/family-restaurant-male-clerk-svgrepo-com.svg" alt="">
                    <img class="log1" src="../../static/images/restaurant-plate-svgrepo-com.svg" alt="">
                    <img class="log" src="../../static/images/family-restaurant-female-clerk-svgrepo-com.svg" alt="">
                    <h3 style="color: white" class="mt-2 ml-2 wv">WAVELENGTH</h3>
                </div>
            </div>
        </div>
        <div class="row body bgdesktop">
            <h2 style="color: rgb(114, 105, 105)" class="ml-3 mt-4 word"> ARE YOU HUNGRY? <br> Dont Wait!!! <br> ORDER FOOD NOW!</h2> <br>
            
           
        </div>
        <div>
            <h2 style="color: rgb(114, 105, 105)" >OUR POPULAR MEALS</h2>
            <!-- <h3 style="color: #f2635f;">Breakfast:</h3> -->
        </div>
          
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-lg-4 box  mt-4 pb-3 res">
                <div class="card " style="width: 19rem;">
                    <img src="../../static/images/Jollof and chicken.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jollof Rice And Chicken</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 5000</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check The Drinks Section For Drinks</li>
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                          <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                                
                
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-md-6 col-sm-12 col-lg-4  mt-4 pb-3 box res">
                <div class="card" style="width: 19rem;">
                    <img src="../../static/images/AMALA and meat.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AMALA</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 4500</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check The Drinks Section For Drinks</li>
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                            <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                                
                
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-md-6 col-sm-12 col-lg-4 mt-4 box  res">
                <div class="card" style="width: 19rem;">
                    <img src="../../static/images/EWA AGOYIN.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BEANS</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 2500</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check The Drinks Section For Drinks</li>
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                            <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                                
                
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-md-6 col-sm-12 col-lg-4 mt-4 box  res">
                <div class="card" style="width: 19rem;">
                    <img src="../../static/images/WHITE RICE.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">White Rice And Chicken</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 5000</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check The Drinks Section For Drinks</li>
                                                
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                            <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                                
                
                        </p>
                    </div>
                </div>
            </div>

             <div class="col-md-6 col-sm-12 col-lg-4 mt-4 box  res">
                <div class="card" style="width: 19rem;">
                    <img src="../../static/images/bread and tea.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bread And Tea</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 5000</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check Drinks Section For Drinks</li>
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                            <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                            
                        </p>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-lg-4 mt-4 box  res">
                <div class="card" style="width: 19rem;">
                    <img src="../../static/images/Semo.jpg" height="212px" alt="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Semo</h5>
                    
                        <p class="cardtext"><ul class="ml-3">
                                                <li>Price: 5000</li>
                                                <li>Comes With A Free Bottle Water</li>
                                                <li>Check Drinks Section For Drinks</li>
                                            </ul> 
                        </p>
                        <p class="ml-4 mt-4">
                            <span style="font-size: 23px;">SELECT FOOD</span>  <input type="checkbox" name="food" id="cb">
                            
                        </p>
                        
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row bt mt-5">
            <button id="button1">PROCEED</button>
        </div>
    </div>
    
</body>
</html>