

.header{background-color: rgb(106, 100, 100);
    padding: 2px;
        }

body{background-color: rgb(190, 176, 176);
    padding-bottom: 50px;
    height: 100%;
    width: 100%;}

    body,html{height: 100%;}    

.log{width: 30%;}
.log1{width: 16%;}
.m{margin-left: 10px;}

.bbox{ height: 100%;
       width: 800px;
       background-color: white;
       border-radius: 10px;
       padding-bottom: 50px;}

.fbbox{display: flex;
       justify-content: center;}  
       
.oid{font-size: 30px;
      font-weight: 500;
      color: rgb(106, 100, 100);} 
      
      .bt{justify-content: center;}

      #button1{width: 280px;
        height: 30px;
        background-color:  white; 
        margin-top: 50px;
        border: 1px solid rgb(106, 100, 100);
        border-radius:4px 4px 4px 4px;
        color:rgb(106, 100, 100) ; 
        box-shadow:  0px 10px 18px   rgb(106, 100, 100);
        } 



        @media screen and (max-width:767px) {
            .desktop{display: none;}
            .mb{display: block;}

        }  

        @media screen and (min-width:768px) {
            .desktop{display: block;}
            .mb{display: none;}

        }  